extends layout

block content
  .container
    if (!user.js)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user.js)
      p You are currently logged in as #{user.js.username}
      a(href="/logout") Logout
